In [ ]:
age = 18

def mynum():
    return age >= 18

print(mynum())

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Sum:", num1 + num2)

In [ ]:
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
op = input("Enter the operator (+, -, *, /, %): ")

if op == "+":
    print(a + b)
elif op == "-":
    print(a - b)
elif op == "*":
    print(a * b)
elif op == "/":
    print(a / b if b != 0 else "Cannot divide by zero")
elif op == "%":
    print(a % b)
else:
    print("Invalid operator")

In [ ]:
name = input("Enter your name: ")
hobby = input("Enter your hobby: ")
age = int(input("Enter your age: "))

print(name)
print(hobby)
print(age)

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
city = input("Enter your city: ")

print(f"{name} is {age} years old and lives in {city}.")

In [ ]:
value = "10"
print(int(value), type(int(value)))
print(float(value), type(float(value)))
print(str(value), type(str(value)))