# NumPy Indexing & Slicing – Questions with Answers

In [ ]:
import numpy as np

## 1D Array Tasks

### 1. Create a 1D NumPy array with numbers from 1 to 20

In [ ]:
a = np.arange(1,21)
print(a)

### 2. Print the first element

In [ ]:
print(a[0])

### 3. Print the last element

In [ ]:
print(a[-1])

### 4. Access the 8th element

In [ ]:
print(a[7])

### 5. Change the 5th element to 100

In [ ]:
a[4] = 100
print(a)

### 6. Slice the first 6 elements

In [ ]:
print(a[:6])

### 7. Slice elements from index 5 to 12

In [ ]:
print(a[5:13])

### 8. Slice the last 5 elements

In [ ]:
print(a[-5:])

### 9. Extract every 2nd element

In [ ]:
print(a[::2])

### 10. Reverse the array

In [ ]:
print(a[::-1])

## 2D Array Tasks

### 11. Create a 3×4 array with values 1 to 12

In [ ]:
b = np.arange(1,13).reshape(3,4)
print(b)

### 12. Access element at row 2, column 3

In [ ]:
print(b[1,2])

### 13. Print first row

In [ ]:
print(b[0])

### 14. Print last column

In [ ]:
print(b[:, -1])

### 15. Slice first two rows

In [ ]:
print(b[:2])

### 16. Slice last two columns

In [ ]:
print(b[:, -2:])

### 17. Extract middle elements

In [ ]:
print(b[1:2,1:3])

### 18. Extract 2×2 sub-array (top-left)

In [ ]:
print(b[:2,:2])

### 19. Replace value 6 with 60

In [ ]:
b[b==6] = 60
print(b)

### 20. Change all values in third row to 0

In [ ]:
b[2] = 0
print(b)

## 3D Array Tasks

### 21. Create 3D array of shape (2,3,4)

In [ ]:
c = np.arange(1,25).reshape(2,3,4)
print(c)

### 22. Access first 2D block

In [ ]:
print(c[0])

### 23. Access element [0,1,2]

In [ ]:
print(c[0,1,2])

### 24. Slice second block

In [ ]:
print(c[1])

### 25. Extract all rows & columns from first block

In [ ]:
print(c[0,:,:])

### 26. Extract first row from all blocks

In [ ]:
print(c[:,0,:])

### 27. Extract last column from all blocks

In [ ]:
print(c[:,:,-1])

### 28. Change one element to 999

In [ ]:
c[0,0,0] = 999
print(c)

### 29. Replace values >15 with 0

In [ ]:
c[c>15] = 0
print(c)

### 30. Extract sub-array (2,2,2)

In [ ]:
print(c[:2,:2,:2])

## nditer Tasks

### 31. Print elements using nditer

In [ ]:

d = np.array([[1,2],[3,4]])
for x in np.nditer(d):
    print(x)

### 32. Multiply each element by 2

In [ ]:

e = np.array([1,2,3])
f = np.zeros_like(e)
for i,x in np.ndenumerate(e):
    f[i] = x*2
print(f)

### 33. Element-wise sum of two arrays

In [ ]:

g = np.array([1,2,3])
h = np.array([4,5,6])
for x,y in np.nditer([g,h]):
    print(x+y)

### 34. Square elements using readwrite

In [ ]:

for x in np.nditer(d, op_flags=['readwrite']):
    x[...] = x*x
print(d)

## ndenumerate Tasks

### 35. Print elements with index

In [ ]:

for idx,val in np.ndenumerate(d):
    print(idx,val)

### 36. Positions of elements > 2

In [ ]:

for idx,val in np.ndenumerate(d):
    if val>2:
        print(idx)

### 37. Count even numbers

In [ ]:

count=0
for _,val in np.ndenumerate(d):
    if val%2==0:
        count+=1
print(count)

## Reshaping Arrays

### 38. Reshape 1D array

In [ ]:

j = np.arange(12)
print(j.reshape(3,4))
print(j.reshape(2,2,3))

### 39. Flatten array

In [ ]:

k = np.array([[1,2],[3,4]])
print(k.flatten())
print(k.ravel())

## Joining Arrays

### 40. Join 1D arrays

In [ ]:

l = np.array([1,2])
m = np.array([3,4])
print(np.concatenate((l,m)))

### 41. Join 2D arrays row & column wise

In [ ]:

n = np.array([[1,2],[3,4]])
o = np.array([[5,6],[7,8]])
print(np.concatenate((n,o),axis=0))
print(np.concatenate((n,o),axis=1))
print(np.vstack((n,o)))
print(np.hstack((n,o)))

## Splitting Arrays

### 42. Split 1D array

In [ ]:

p = np.array([1,2,3,4,5,6])
print(np.split(p,3))

### 43. Split 2D array

In [ ]:

q = np.arange(1,13).reshape(3,4)
print(np.vsplit(q,3))
print(np.hsplit(q,4))

## Combined Practical Tasks

### 44. Print elements at even index positions

In [ ]:

r = np.arange(1,13).reshape(3,4)
for idx,val in np.ndenumerate(r):
    if idx[0]%2==0 and idx[1]%2==0:
        print(val)

### 45. Join arrays and split back

In [ ]:

s = np.arange(6).reshape(2,3)
t = np.arange(6,12).reshape(2,3)
u = np.vstack((s,t))
print(np.vsplit(u,2))