In [ ]:
import pandas as pd
import numpy as np

data = {
    "Name": ["A", "B", "C", "D", "E"],
    "Salary": [30000, np.nan, 50000, np.nan, 40000],
    "Experience": [2, 3, np.nan, 5, np.nan]
}

df = pd.DataFrame(data)
df

## Task 1: Replace NaN in Salary with 0

In [ ]:
df['Salary'] = df['Salary'].fillna(0)
df

## Task 2: Replace missing Salary with Mean

In [ ]:
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())
df

## Task 3: Replace missing Salary with Median

In [ ]:
df['Salary'] = df['Salary'].fillna(df['Salary'].median())
df

## Task 4: Replace missing Experience with Mode

In [ ]:
df['Experience'] = df['Experience'].fillna(df['Experience'].mode()[0])
df

## Task 5: Fill Multiple Columns

In [ ]:
df.fillna({'Salary': df['Salary'].mean(), 'Experience': 0}, inplace=True)
df

## Task 6: Forward Fill

In [ ]:
df.ffill(inplace=True)
df

## Task 7: Backward Fill

In [ ]:
df.bfill(inplace=True)
df

## Task 8: Fill Entire DataFrame with -1

In [ ]:
df.fillna(-1, inplace=True)
df