In [ ]:
#task:1 Create a dictionary
student = {"name": "John",
           "age": 20,
           "grade": "A"}
print(student)

{'name': 'John', 'age': 20, 'grade': 'A'}

In [ ]:
#task:2 Access values
student = {"name": "John",
           "age": 20,
           "grade": "A"}
print(student["name"])

John

In [ ]:
#task:3 Add a new key-value pair
student = {"name": "John",
           "age": 20,
           "grade": "A"}
student["city"] = "Chennai"
print(student)

{'name': 'John', 'age': 20, 'grade': 'A', 'city': 'Chennai'}

In [ ]:
#task:4 Update a value
student = {"name": "John",
           "age": 20,
           "grade": "A",
           "city":"chennai"}
student["grade"] = "A+"
print(student)

{'name': 'John', 'age': 20, 'grade': 'A+', 'city': 'chennai'}

In [ ]:
#task:5 Delete a key
student = {"name": "John",
           "age": 20,
           "grade": "A",
           "city":"chennai"}
del student["age"]
print(student)

{'name': 'John', 'grade': 'A', 'city': 'chennai'}

In [ ]:
#task:6 Loop through dictionary
student = {"name": "John",
           "grade": "A+",
           "city": "Chennai",
           "math": 90}

for key in student:
    value = student[key]
    print(key, ":", value)

name : John
grade : A+
city : Chennai
math : 90

In [ ]:
#task:7 Merge dictionaries
student = {"name": "John",
           "grade": "A+",
           "city": "Chennai"}
extra = {"math": 90}
student.update(extra)
print(student)

{'name': 'John', 'grade': 'A+', 'city': 'Chennai', 'math': 90}

In [ ]:
#task:8 Count character frequency
word = "banana"
count = {}
for letter in word:
    if letter in count:
        count[letter] += 1
    else:
        count[letter] = 1
print(count)

{'b': 1, 'a': 3, 'n': 2}

In [ ]:
#task:9 Find key with maximum value
fruits = {"apple": 10, "banana": 5, "orange": 7}
max_fruit = None
max_value = 0
for fruit in fruits:
    if fruits[fruit] > max_value:
        max_value = fruits[fruit]
        max_fruit = fruit
print("Fruit with highest quantity:", max_fruit)

Fruit with highest quantity: apple

In [ ]:
#task:10 Filter dictionary
data = {"a": 5, "b": 8, "c": 3}
filtered = {k: v for k, v in data.items() if v > 4}
print(filtered)

{'a': 5, 'b': 8}

In [ ]:
# task:11 Nested dictionary
students = {
    "Alice": {"Math": 90, "Science": 85},
    "Bob": {"Math": 75, "Science": 80}
}

for name in students:
    subjects = students[name]
    total = subjects["Math"] + subjects["Science"]
    print(name, "Total Marks =", total)

In [ ]:
#task:12 Invert dictionary
d = {"a": 1, "b": 2}
inverted = {v: k for k, v in d.items()}
print(inverted)

{1: 'a', 2: 'b'}