In [1]:
#Task 1: Replace all negative numbers with 0
n = [3, -1, 5, -7, 9]

n[1] = 0
n[3] = 0
print(n)

[3, 0, 5, 0, 9]

In [ ]:
#Task 2: Find the frequency of each element
n = [1, 2, 2, 3, 3, 3]

print("1 appears", n.count(1), "times")
print("2 appears", n.count(2), "times")
print("3 appears", n.count(3), "times")

In [3]:
#Task 3: Find the common elements between two lists
a = [1,2,3,4]
b = [3,4,5,6]

common = []

if 3 in a and 3 in b:
    common.append(3)
if 4 in a and 4 in b:
    common.append(4)

print(common)

[3, 4]

In [4]:
#Task 4: Left-rotate the list by 3 positions
lst = [10, 20, 30, 40, 50, 60]
lst.append(lst.pop(0))
lst.append(lst.pop(0))
lst.append(lst.pop(0))

print(lst)

[40, 50, 60, 10, 20, 30]

In [5]:
#Task 5: Remove the element at odd positions
lst = ['a','b','c','d','e','f']
lst.pop(1)  
lst.pop(2)  
lst.pop(3) 
print(lst)

['a', 'c', 'e']

In [6]:
#Task 6: Create a list from 1 to 50 and extract only multiples of 7
nums = []
nums.extend([7,14,21,28,35,42,49])
print(nums)

[7, 14, 21, 28, 35, 42, 49]

In [7]:
#Task 7: Sum the values in a nested list
nested = [[2,4],[6,8],[1,3]]
total = 2+4+6+8+1+3
print(total)

24

In [8]:
#Task 8: Find the second smallest number
lst = [9,3,7,1,8]
lst.sort()
print(lst[1])

3

In [9]:
#Task 9: Convert tuple â†’ list, append a value, convert back to tuple
t = (10,20,30)
lst = list(t)
lst.append(40)
t = tuple(lst)
print(t)

(10, 20, 30, 40)

In [10]:
#Task 10: Check if a particular element exists in a tuple
t = (5,10,15,20)

if 15 in t:
    print("Yes")
else:
    print("No")

Yes

In [11]:
#Task 11: Find the sum of elements in a tuple without using sum()
t = (1,2,3,4,5)
total = 1+2+3+4+5
print(total)

15

In [12]:
#Task 12: Find the maximum value in a tuple
t = (10,4,7,1,9)
t = list(t)
t.sort()
print(t[-1])

10

In [13]:
#Task 13: Reverse a tuple
t = (1,2,3,4)
lst = list(t)
lst.reverse()
t = tuple(lst)
print(t)

(4, 3, 2, 1)

In [14]:
#Task 14: Create a tuple of squares of numbers from 1 to 10
squares = []
squares.append(1*1)
squares.append(2*2)
squares.append(3*3)
squares.append(4*4)
squares.append(5*5)
squares.append(6*6)
squares.append(7*7)
squares.append(8*8)
squares.append(9*9)
squares.append(10*10)

t = tuple(squares)
print(t)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)