In [19]:
#1. Print all even numbers between 50 and 150
for i in range(50, 151):
    if i % 2 == 0:
        print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150

In [18]:
#2. Print numbers from 100 to 10 decreasing by 5
for i in range(100, 9, -5):
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10

In [17]:
#3. Generate a list of cubes from 1 to 30
cubes = []

for num in range(1, 31):
    cubes.append(num * num * num)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000]

In [16]:
#4. Print numbers divisible by both 4 and 6 (1 to 200)
for num in range(1, 201):
    if num % 4 == 0 and num % 6 == 0:
        print(num)

12
24
36
48
60
72
84
96
108
120
132
144
156
168
180
192

In [15]:
#5. Multiplication tables (1–10) for 2, 3, and 4
for num in [2, 3, 4]:
    print("Table of", num)

    for i in range(1, 11):
        print(num, "x", i, "=", num * i)

Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [14]:
#6. Print elements at odd positions (index-based
my_list = [10, 20, 30, 40, 50, 60]

for i in range(1, len(my_list), 2):
    print(my_list[i])

20
40
60

In [13]:
#7. Count numbers between 1 and 500 ending with digit 7
count = 0

for num in range(1, 501):
    if num % 10 == 7:
        count += 1

print("Total:", count)

Total: 50

In [12]:
#8. Print the pattern
for num in range(1, 6):
    print(str(num) * num)

1
22
333
4444
55555

In [11]:
#9. List of three-digit numbers with strictly increasing digits
numbers = []

for num in range(100, 1000):
    a = num // 100
    b = (num // 10) % 10
    c = num % 10

    if a < b and b < c:
        numbers.append(num)

print(numbers)

[123, 124, 125, 126, 127, 128, 129, 134, 135, 136, 137, 138, 139, 145, 146, 147, 148, 149, 156, 157, 158, 159, 167, 168, 169, 178, 179, 189, 234, 235, 236, 237, 238, 239, 245, 246, 247, 248, 249, 256, 257, 258, 259, 267, 268, 269, 278, 279, 289, 345, 346, 347, 348, 349, 356, 357, 358, 359, 367, 368, 369, 378, 379, 389, 456, 457, 458, 459, 467, 468, 469, 478, 479, 489, 567, 568, 569, 578, 579, 589, 678, 679, 689, 789]

In [10]:
#10. Print all hour–minute combinations (24-hour format, every 10 minutes)
for hour in range(0, 24):
    for minute in range(0, 60, 10):
        print(hour, ":", minute)

0 : 0
0 : 10
0 : 20
0 : 30
0 : 40
0 : 50
1 : 0
1 : 10
1 : 20
1 : 30
1 : 40
1 : 50
2 : 0
2 : 10
2 : 20
2 : 30
2 : 40
2 : 50
3 : 0
3 : 10
3 : 20
3 : 30
3 : 40
3 : 50
4 : 0
4 : 10
4 : 20
4 : 30
4 : 40
4 : 50
5 : 0
5 : 10
5 : 20
5 : 30
5 : 40
5 : 50
6 : 0
6 : 10
6 : 20
6 : 30
6 : 40
6 : 50
7 : 0
7 : 10
7 : 20
7 : 30
7 : 40
7 : 50
8 : 0
8 : 10
8 : 20
8 : 30
8 : 40
8 : 50
9 : 0
9 : 10
9 : 20
9 : 30
9 : 40
9 : 50
10 : 0
10 : 10
10 : 20
10 : 30
10 : 40
10 : 50
11 : 0
11 : 10
11 : 20
11 : 30
11 : 40
11 : 50
12 : 0
12 : 10
12 : 20
12 : 30
12 : 40
12 : 50
13 : 0
13 : 10
13 : 20
13 : 30
13 : 40
13 : 50
14 : 0
14 : 10
14 : 20
14 : 30
14 : 40
14 : 50
15 : 0
15 : 10
15 : 20
15 : 30
15 : 40
15 : 50
16 : 0
16 : 10
16 : 20
16 : 30
16 : 40
16 : 50
17 : 0
17 : 10
17 : 20
17 : 30
17 : 40
17 : 50
18 : 0
18 : 10
18 : 20
18 : 30
18 : 40
18 : 50
19 : 0
19 : 10
19 : 20
19 : 30
19 : 40
19 : 50
20 : 0
20 : 10
20 : 20
20 : 30
20 : 40
20 : 50
21 : 0
21 : 10
21 : 20
21 : 30
21 : 40
21 : 50
22 : 0
22 : 10
22 : 20
22 : 30
22 : 40
22 : 50
23 : 0
23 : 10
23 : 20
23 : 30
23 : 40
23 : 50