In [17]:
#1. Print numbers from 10 to 30 using range()
for i in range(10, 31):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [3]:
#2.Print all even numbers between 1 and 50
for i in range(2, 51, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [2]:
#3. Print numbers from 20 to 1 in reverse
for i in range(20, 0, -1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [1]:
#4. Multiplication table using a function
def table(num):
    for i in range(1, 11):
        print(num, "x", i, "=", num * i)

table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [5]:
#5. Function to return squares from 1 to n
def squares(n):
    for i in range(1, n + 1):
        print(i, "square is", i*i)

squares(5)

1 square is 1
2 square is 4
3 square is 9
4 square is 16
5 square is 25

In [6]:
#6. Function to check even or odd
def even_or_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

print(even_or_odd(7))

Odd

In [7]:
#7. Function to calculate factorial
def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact

print(factorial(5))

120

In [8]:
#8. Function to find sum of digits
def sum_of_digits(num):
    total = 0
    for digit in str(num):   # convert number to string
        total += int(digit)
    return total

print(sum_of_digits(123))

6

In [10]:
#9. Prime check using for-else
def is_prime(num):
    if num <= 1:
        return "Not Prime"

    for i in range(2, num):
        if num % i == 0:
            break
    else:
        return "Prime"

    return "Not Prime"

print(is_prime(6))

Not Prime

In [11]:
#10. Search element in list using for-else
numbers = [1, 3, 5, 7, 9]
search = 7

for i in numbers:
    if i == search:
        print("Found!")
        break
else:
    print("Not Found!")

Found!

In [12]:
#11. Break when a vowel is found
text = "sky"

for ch in text:
    if ch in "aeiouAEIOU":
        print("Vowel found:", ch)
        break
else:
    print("No vowel found")

No vowel found

In [13]:
#12. Check 1â€“50 for number divisible by 9
for i in range(1, 51):
    if i % 9 == 0:
        print("Found:", i)
        break
else:
    print("None divisible by 9")

Found: 9

In [14]:
#13. Sum from 1 to 100 using range()
total = 0

for i in range(1, 101):
    total += i

print("Sum is:", total)

Sum is: 5050

In [15]:
#14. Function to reverse a string
def reverse_string(text):
    return text[::-1]

print(reverse_string("hello"))

olleh

In [16]:
#15. Check if all numbers are positive (for-else)
numbers = [2, 4, -1, 6]

for num in numbers:
    if num < 0:
        print("Negative number found:", num)
        break
else:
    print("All numbers are positive")

Negative number found: -1