In [ ]:
#Task 1: Print “Welcome to Python”
def welcome():
    print("Welcome to Python")
welcome()

Welcome to Python

In [ ]:
#Task 2: Print current date and time
import datetime

def show_datetime():
    print(datetime.datetime.now())
show_datetime()

2025-12-15 03:02:50.556468

In [ ]:
#Task 3: Print all even numbers from 1 to 20
def even_numbers():
    for i in range(1, 21):
        if i % 2 == 0:
            print(i)

even_numbers()

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Task:4. Function that accepts a name and prints a greeting
def greet(name):
    print("Hello", name)
greet("user")

Hello user

In [ ]:
#Task:5 Function that accepts two numbers and prints their sum
def add(a, b):
    print(a + b)
add(4,6)

10

In [ ]:
#Task:6 Function that takes a list and prints its length
def list_length(my_list):
    print(len(my_list))

list_length([1, 2, 3, 4])

4

In [ ]:
#Task:7 Return area of a circle
def area_circle(r):
    return 3.14 * r * r

print(area_circle(5))

78.5

In [ ]:
#Task:8 Return whether a number is odd or even
def odd_even(n):
    if n % 2 == 0:
        return "Even"
    else:
        return "Odd"

print(odd_even(7))

Odd

In [ ]:
#Task:9 Return maximum of three numbers
def max_three(a, b, c):
    return max(a, b, c)

print(max_three(3, 8, 5))

8

In [ ]:
#Task:10 Function with default username
def hello(name="Guest"):
    print("Hello", name)

hello()
hello("user")

Hello Guest
Hello user

In [ ]:
#Task 11: Simple Interest (default rate = 5%)
def simple_interest(p, t, r=5):
    return (p * t * r) / 100

print(simple_interest(1000, 2))

100.0

In [ ]:
#task:12 Write a function that prints multiplication table where default number = 2.
def table(n=2):
    for i in range(1, 11):
        print(n, "x", i, "=", n*i)

table()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
#task:13 student(name, age) using keyword arguments
def student(name, age):
    print(name, age)

student(age=20, name="Alex")

In [ ]:
#task:14 product(a, b, c) – different keyword orders
def product(a, b, c):
    print(a * b * c)

product(a=2, b=3, c=4)
product(c=4, a=2, b=3)
product(b=3, c=4, a=2)

24
24
24

In [ ]:
#task:15 display(emp, salary) – only keyword arguments
def display(emp, salary):
    print(emp, salary)

display(emp="Ravi", salary=30000)

In [ ]:
#task:16 Sum of any number of numbers
def add_numbers(*args):
    total = 0
    for n in args:
        total = total + n
    return total
add_numbers(11,22,56)

89

In [ ]:
#task:17 Write a function that prints all arguments passed to it.
def show_args(*args):
    for item in args:
        print(item)
show_args("cow",1,5.7,"wool")

cow
1
5.7
wool

In [ ]:
#task:18 Function that MULTIPLIES all numbers
def multiply_numbers(*args):
    result = 1
    for n in args:
        result = result * n
    return result
multiply_numbers(11,22,56)

13552

In [ ]:
#task:19 Create a function that prints all key–value pairs passed to it.
def show_items(**kwargs):
    for key in kwargs:
        print(key, kwargs[key])
show_items(name="mani", age=20, city="Delhi")

name mani
age 20
city Delhi

In [ ]:
#task:20 Write a function create_profile(**kwargs) that stores any user details.
def create_profile(**kwargs):
    return kwargs
profile= create_profile(name="rat",sub="computer")
print(profile)

{'name': 'rat', 'sub': 'computer'}

In [ ]:
#task:21 Function to calculate the total price from items passed as item=price.
def total_price(**items):
    total = 0
    for item in items:
        total = total + items[item]
    return total
total_price(apple=30, milk=20)

50

In [ ]:
#task:22 Write a recursive function to calculate factorial.
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)
factorial(5)

120

In [ ]:
#task:23 Write a recursive function to find the sum of digits of a number.

In [ ]:
#task:24 Write a recursive function to print numbers from 1 to n.
def print_numbers(n):
    if n == 0:
        return
    print_numbers(n-1)
    print(n)

print_numbers(5)

1
2
3
4
5

In [ ]:
#task:25 Create a lambda function to cube a number.
cube = lambda x: x * x * x
cube(3)

27

In [ ]:
#task:26 Lambda to check if a number is positive
is_positive = lambda x: x > 0
is_positive(5)

True

In [ ]:
#task:27 Sort a list of tuples using a lambda key
data = [(1, 3), (4, 1), (2, 5)]
data.sort(key=lambda x: x[1])
print(data)

[(4, 1), (1, 3), (2, 5)]

In [ ]:
#task:28 Create a function that takes another function as input and executes it.
def hello():
    print("Hello")

def run(func):
    func()

run(hello)

Hello

In [1]:
#task:29 Write a function that returns another function to add 10 to a number.
def add_ten():
    return lambda x: x + 10

f = add_ten()
print(f(5))

15

In [ ]:
#task:30
def square_list(nums):
    return list(map(lambda x: x * x, nums))

print(square_list([1, 2, 3]))

[1, 4, 9]