In [ ]:
#Task:1 Even or Odd
num = int(input("Enter number: "))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter number: 2
Even

In [ ]:
#Task:2 Positive, Negative, or Zero
num = float(input("Enter number: "))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter number: 3
Positive

In [ ]:
#Task:3 Largest of Three Numbers
a = int(input("Enter first: "))
b = int(input("Enter second: "))
c = int(input("Enter third: "))

if a >= b and a >= c:
    print("Largest =", a)
elif b >= a and b >= c:
    print("Largest =", b)
else:
    print("Largest =", c)

Enter first: 24
Enter second: 60
Enter third: -100
Largest = 60

In [ ]:
#task:4 Leap Year Checker
year = int(input("Enter year: "))

if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter year: 2088
Leap Year

In [2]:
#task:5 Vowel or Consonant
ch = input("Enter a letter: ").lower()

if ch in ["a","e","i","o","u"]:
    print("Vowel")
else:
    print("Consonant")

Enter a letter: a
Vowel

In [ ]:
#task:6 Simple Calculator
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))
op = input("Enter operator (+ - * /): ")

if op == "+":
    print("Result =", a + b)
elif op == "-":
    print("Result =", a - b)
elif op == "*":
    print("Result =", a * b)
elif op == "/":
    print("Result =", a / b)
else:
    print("Invalid operator")

Enter number 1: 2
Enter number 2: 4
Enter operator (+ - * /): +
Result = 6

In [3]:
#task:7 Print 1 to 100
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#task:8 Sum of First N Natural Numbers
n = int(input("Enter N: "))
total = 0

for i in range(1, n + 1):
    total = total + i

print("Sum =", total)

Enter N: 23
Sum = 276

In [4]:
#task:9 Multiplication Table
n = int(input("Enter number: "))

for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter number: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [6]:
#task:10 Reverse a Number
n = int(input("Enter number: "))
rev = 0

while n > 0:
    digit = n % 10
    rev = rev * 10 + digit
    n = n // 10

print("Reversed =", rev)

Enter number: 1002341
Reversed = 1432001

In [7]:
#task:11 Count Digits
n = int(input("Enter number: "))
count = 0

while n > 0:
    count = count + 1
    n = n // 10

print("Total digits =", count)

Enter number: 20
Total digits = 2

In [8]:
#task:12 Factorial
n = int(input("Enter number: "))
fact = 1

for i in range(1, n + 1):
    fact = fact * i

print("Factorial =", fact)

Enter number: 500
Factorial = 1220136825991110068701238785423046926253574342803192842192413588385845373153881997605496447502203281863013616477148203584163378722078177200480785205159329285477907571939330603772960859086270429174547882424912726344305670173270769461062802310452644218878789465754777149863494367781037644274033827365397471386477878495438489595537537990423241061271326984327745715546309977202781014561081188373709531016356324432987029563896628911658974769572087926928871281780070265174507768410719624390394322536422605234945850129918571501248706961568141625359056693423813008856249246891564126775654481886506593847951775360894005745238940335798476363944905313062323749066445048824665075946735862074637925184200459369692981022263971952597190945217823331756934581508552332820762820023402626907898342451712006207714640979456116127629145951237229913340169552363850942885592018727433795173014586357570828355780158735432768888680120399882384702151467605445407663535984174430480128938313896881639487469658817504506926365338175055478128640000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000