In [ ]:
#Task 1: Create and Print a Set
Student={"Amelia","Aronault", "karthick","Karen","camel"}
print(Student)

{'Karen', 'karthick', 'Aronault', 'camel', 'Amelia'}

In [ ]:
#Task 2: Add and Remove Elements
set1 = {"10","20","30"}
print(set1)
set1.add("40")
print(set1)
set1.remove("20")
print(set1)

{'20', '10', '30'}
{'20', '10', '40', '30'}
{'10', '40', '30'}

In [ ]:
#Task 3: Check Membership
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
    print("Apple exists in the set of fruits.")
else:
        print("Apple does not exist in the set of fruits.")

Apple exists in the set of fruits.

In [ ]:
#Task 4: Set Union
setA = {"1", "2", "3"}
setB = {"3", "4", "5"}
setC = setA.union(setB)
print(setC)

{'3', '1', '5', '4', '2'}

In [ ]:
#Task 5: Set Intersection
setA = {"1", "2", "3"}
setB = {"3", "4", "5"}
setC = setA.intersection(setB)
print(setC)

{'3'}

In [ ]:
#Task 6: Set Difference
setA = {"1", "2", "3", "4"}
setB = {"3", "4", "5", "6"}
#A – B
setC = setA.difference(setB)
print(setC)
#B – A
setC = setB.difference(setA)
print(setC)

{'2', '1'}
{'5', '6'}

In [ ]:
#Task 7: Remove Duplicates From a List
numbers = ["1", "2", "2", "3", "4", "4", "5"]
unique_numbers = list(set(numbers))
print(unique_numbers)

['3', '1', '5', '4', '2']

In [ ]:
#Task 8: Find Unique Characters in a Word
#Input a string from the user and print all unique characters using a set.
word = input("Enter a word: ")
unique_characters = set(word)
print(unique_characters)

Enter a word: cat
{'a', 'c', 't'}

In [ ]:
#Task 9: Frozen Set Task
colors = ["red", "blue", "green"]
colors.add("orange")
print(colors)

AttributeError: 'list' object has no attribute 'list'

In [ ]:
#Task 10: Find Common Items in Two Lists
list1 = ["Abi", "Anu", "Sam", "John"]
list2 = ["John", "Abi", "Riya", "Karan"]
common_items = set(list1).intersection(list2)
print(common_items)

{'Abi', 'John'}

In [ ]:
#Task 11: Unique Words in a Sentence
sentence = "hi hello hi welcome hello"
words = sentence.split()
unique_words = set(words)
print(len(unique_words))

3

In [ ]:
#Task 12: Symmetric Difference
A = {"1", "2", "3", "4"}
B = {"3", "4", "5", "6"}
C = A.symmetric_difference(B)
print(C)

{'1', '5', '2', '6'}

In [ ]:
#Task 13: Find Items Present in Three Sets

setA = {"1", "2", "3", "4"}
setB = {"2", "3", "5"}
setC = {"3", "6", "2"}
setD = setA.union(setB)
print(setD)
setE = setC.union(setD)
print(setE)

{'3', '1', '4', '5', '2'}
{'3', '1', '5', '4', '2', '6'}

In [1]:
#Task 14: Count Frequency Using Set + Loop
words = ["hi", "hello", "hi", "hello", "welcome"]

unique_words = set(words)
freq = {}

for word in unique_words:
    count = 0
    for w in words:
        if w == word:
            count += 1
    freq[word] = count

print(freq)

{'hi': 2, 'hello': 2, 'welcome': 1}

In [ ]:
#Task 15: Student Attendance System
monday = {"Abi", "Karan", "Sam"}
tuesday = {"Abi", "Riya", "Sam", "Jill"}
print(monday.intersection(tuesday))
print(tuesday.difference(monday))
print(monday.union(tuesday))

{'Abi', 'Sam'}
{'Riya', 'Jill'}
{'Abi', 'Jill', 'Karan', 'Riya', 'Sam'}